<% include ../layout/head.ejs %>
<br><br><br>
<section class="features18 popup-btn-cards cid-rd1qw9TwPC" id="features18-9">    
    <div class="container">
        <section id="artikel"></section>
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            ARTIKEL</h2>
            <div class="input-group mb-3">
                     <input type="text" class="form-control" placeholder="Cari artikel" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button"><a class="nav-link link text-white display-4" href="searchartikel.html">Cari</a></button>
            </div>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light"></h3>
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="artikel.html" class="btn btn-primary display-4">Lihat Selengkapnya</a></div>
                        <img src="/assets/images/mbr-676x450.jpg" alt="Bajax" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Indonesia Pengguna Internet Paling Aktif ke-4 di Dunia</h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">Indonesia berada di posisi ke-4 sebagai pengguna internet teraktif di dunia di bawah Filipina, Thailand, dan Brazil</p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="artikel.html" class="btn btn-primary display-4">Lihat Selengkapnya</a></div>
                        <img src="/assets/images/mbr-676x449.jpg" alt="Bajax" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Mobile Friendly
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           All sites you make with Bajax are mobile-friendly. You don't have to create a special mobile version of your site.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="artikel.html" class="btn btn-primary display-4">Lihat Selengkapnya</a></div>
                        <img src="/assets/images/03.jpg" alt="Bajax">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Belajar HTML</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            HTML adalah salah satu bahasa pemrograman dimana fungsinya untuk mengatur layout pada sebuah web
                        </p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<% include ../layout/foot.ejs %>